*{
    margin: 0;
    padding: 0;
    
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(images/background.png);
    background-position: center;
    background-size:cover ;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;

}
.logo{
    height: 40px;
    width: 250px;
    cursor: pointer;
}

.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;

}
nav{
    flex: 1;
    padding-left: 60px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;

}

nav ul li a{
    text-decoration: none;
    color: #333;
}
.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}
.content p{
    font-size: 30px;
   
    color: #6a7199;
}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content .btn {
    display: inline-block;
    background: linear-gradient(45deg,#87adfe, #ff77cd);
    border-radius:6px ;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 64, 0.15);

}
.arrow-icon img{
    width: 40px;
    margin-right:25px ;
    margin-top: 20px;

}
.hero-img{
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 160px;
    border-radius: 50%;

}
.services{
width: 100%;
height: 500px;
background: linear-gradient(45deg,#87adfe, #db92c0);

}
.services h2{
    font-size: 60px;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #232d60;
}

.services ol li { 

    font-size: 30px;
   
    color: #6a7199;
}

.speciality ul li{
    font-size: 30px;
   
    color: #6a7199;
}
.footer{
    /* margin-top: 350px; */
    width: 70%;
    padding: 100px 15%;
    background: #333;
    color: #efefef;
    display: flex;
}

.footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;
}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;

}

.col-1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

form input{
    width: 400px;
    height: 25px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
}
form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
}
